<html>
  
  
  <body>
    <h1>
      
      "hello from flask index page"
      <br>
      <form action = "/predict" method = "post">
        
        no. of BHK interested in:
        
        <input type = "number" name = "BHK" placeholders = "enter no."><br>
        no. of bathrooms required :
        
        <input type = "number" name = "Bathrooms" placeholders = "enter no."><br>
        Parking space required
        <input type = "number" name = "Parking space" placeholders = "enter no. of vehicles"><br>
        
        <input type = "text" name = "" placeholders = ""><br>
        
      </form>
         
    </h1>
    
  
  
  </body>
</html>